$yellow: #F4DA6E;
$orange: #FC440F;
$black: #223127;
$white: #DAD2D8;
$violet2: #694873;
$violet3: #38040E;
$brown: #621B00;
$blue2: #4357AD;
$violet4: #5F0F40;
$violet5: #643173;
$blue: #2E86AB;
$otherBlue: #8D99AE;
$ligthGreen: #4D8B31;
$rose: #EFAAC4;
$violet: #9999A1;
$moreWhite: #FCDDF2;


.n_container-notes{

}

.n_secondary-navbar{
    background-color: $black;
    padding: 0.5rem;
}

.n_secondary-navbar h3{
    color: white;
    text-align: center;
}

.n_container-notes-newnote{
    display: flex;
}



.n_width-savednotes{
    width: 40%;
    height: 90%;
}

.n_width-newnotes{
    width: 60%;
    height: 90%;
}

.none { display: none;}




@media (max-width: 500px){
    .n_container-notes-newnote{
        display: flex;
        flex-direction: column;
    }
    .n_width-savednotes{
        width: 100%;
        height: 90%;
    }
    
    .n_width-newnotes{
        width: 100%;
        height: 90%;
    }
}
