$yellow: #F4DA6E;
$orange: #FC440F;
$black: #223127;
$white: #DAD2D8;
$violet2: #694873;
$violet3: #38040E;
$brown: #621B00;
$blue2: #4357AD;
$violet4: #5F0F40;
$violet5: #643173;
$blue: #2E86AB;
$otherBlue: #8D99AE;
$ligthGreen: #4D8B31;
$rose: #EFAAC4;
$violet: #9999A1;
$moreWhite: #FCDDF2;

.n_save-notes{
    width: 100%;
    overflow: auto;
    height: 90vh;
}

.n_individual-notes{
    border-bottom: 1px solid $violet5;
    padding: 0.2rem 0.8rem;

}

.n_individual-notes h6{
    font-size: 3rem;
    color: $black;
}


.n_title-note-icons{
    display: flex;
    padding: 0.5rem 0.5rem;
}

.n_title{
    width: calc(90% - 1rem);
}

.n_title h6{
    width: calc(90% - 1rem);
    color: $black;
}

.n_icons{
    width: 10%;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.n_icons{
 color: $violet5;
}

.n_text-summary{
    padding: 0.2rem 0.5rem;
}

.n_text-summary p{
    font-size: 1.6rem;
    font-weight: 600;
    color: $black;
}

.n_expiration-message{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
}

.n_exp-date{
    
}

.n_exp-message{
    text-align: right;
}

.n_container-message-notes-empty{
    margin-top: 1rem;
    text-align: center;
    padding: 0rem 1rem;
}

.n_container-message-notes-empty{
    font-size: 2rem;
}




@media (max-width: 500px){
    .n_expiration-message{
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 1.5rem;
        padding: 0rem 0.5rem;
    }
}